<nav>
   <div class="header-container">
       <div class="app-icon"></div>
       <h1>Экосистема общежития МИРЭА</h1>
   </div>
   <div class="account-container">
       <div class="user-icon"></div>
        <h3>@Current.username</h3>
   </div>
</nav>

@code {
    [Parameter]
    [EditorRequired]
    public AccountModel Current { get; set; }

}
