@using dormitory.front.Client.model
<section class="news-item">
    <header>
        <h1>@Item.Title</h1>
    </header>
    <main>@Item.Content</main>
    @* <footer>
        <a>Узнать больше</a>
    </footer> *@
</section>
@code {
    [EditorRequired]
    [Parameter]
    public NewsItemModel Item { get; set; }
}
