@using dormitory.front.Client.model

<div class ="news-list">
    <Virtualize  Items="@newsList">
        <NewsItem Item="@context"></NewsItem>
    </Virtualize>
</div>
@code {
    [EditorRequired]
    [Parameter]
    public List<NewsItemModel> newsList { get; set; }

}
