


.service-title {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
}

.service-button {
    background-color: #ffda3c;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
    height: fit-content;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.service-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-icon {
    padding: 0 20px;
    background-image: url("./static/icons/form.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 10px;
    width: 10px;
}





button
{
    all: unset;
    border-radius: 100%
}
    button:hover {
       
    }